
        #projeler{
                padding: 20px 0px 20px 0px; 
        }
 
        #projeler_liste{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
        }

        #projeler_liste table{
                margin-top: 20px;
                border-collapse: collapse; /* Kenarları daha düzgün göstermek için */
                text-align: center; /* İçeriği ortala */

        }
  
.card{ 
        display:grid;
        justify-content: center;
        align-content: flex-start; 
        width: auto;
        margin: 20px;
} 

.cardd{
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        border-radius: 10px;
}

.card_head{
        display:flex;
        justify-content: center;
        align-content: center; 
        border-left: 1px solid gray;  /* Sol kenarlık */
        border-top: 1px solid gray;   /* Üst kenarlık */
        border-right: 1px solid gray; /* Sağ kenarlık */
        border-bottom: none;           /* Alt kenarlık yok */
        border-radius: 10px 10px 0px 0px;
}

.card_body {
        display:flex;
        justify-content: center;
        align-content: center;
        border:1px solid gray;  
}
.card_body_end {
        display:flex;
        justify-content: center;
        align-content: center;
        border:1px solid gray;  
}
.card_body_end {
        border-radius: 0px 0px 10px 10px;

}

.a1,.a2,.a3,.a4{
        align-content: center;
        margin:10px 15px 10px 15px; 
        font-family: 'Segoe UI', sans-serif;
        font-size: 20px;
} 

.card_head{
        background: rgba(233, 236, 107,0.2);
}
.card_body,.card_body_end{
        background: rgba(177, 162, 202,0.2);
}

.a2{
        font-size: 25px;
       font-style: italic;
         color: #003366; 
}
 
.a3 a, .a3{
       text-decoration: none;
       color:  rgb(23, 165, 137); 
       font-style: italic;
} 

.a4 {
       font-style: italic;
       color:  rgb(155, 89, 182  ); 
}
