
#projeler{
        width: 100%; 
        padding: 20px 0px 20px 0px; 
        display: grid; 
        text-align: center;
} 
 
        #projeler_liste {
          column-width: 600px;
          column-gap: 10px;
          width: 100%; 
        }
 
        #projeler_liste table{
                margin-top: 20px;
                border-collapse: collapse; /* Kenarları daha düzgün göstermek için */
                text-align: center; /* İçeriği ortala */

        } 


.card {
        break-inside: avoid; 
        padding: 5px;
        border-radius: 5px; 

        display: inline-block;
        justify-content: center;
        align-content: flex-start; 
        width: auto;
        margin: 10px;
} 
 
 

.cardd{
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        border-radius: 5px;
}

.card_head{
        display:flex;
        justify-content: center;
        align-content: center; 
        border-left: 1px solid gray;  /* Sol kenarlık */
        border-top: 1px solid gray;   /* Üst kenarlık */
        border-right: 1px solid gray; /* Sağ kenarlık */
        border-bottom: none;           /* Alt kenarlık yok */
        border-radius: 5px 5px 0px 0px;
        background-color: rgb(230, 240, 255);  
}

.card_body {
        display:flex;
        justify-content: center;
        align-content: center;
        border:1px solid gray;  
        background: rgb(251, 251, 255 ); 
}
.card_body_end {
        display:flex;
        justify-content: center;
        align-content: center;
        border:1px solid gray;   
        border-radius: 0px 0px 5px 5px;
        background: rgb(251, 251, 255 ); 


}

.a1,.a2,.a3,.a4{
        align-content: center;
        margin:10px 15px 10px 15px; 
        font-family: 'Segoe UI', sans-serif;
}  
  
.a2{
        font-size: 20px;
       font-style: italic;
         color: #003366; 
}
 
.a3 a, .a3{
       text-decoration: none;
       color:  rgb(23, 165, 137); 
       font-style: italic;
} 

.a3 ,.a4 { 
        font-size: 16px;

}

.a4 {
       font-style: italic;
       color:  rgb(155, 89, 182  ); 
}
