
#area2{display:none}
#area3{display:none}
#area4{display:none}
	

/* Ana Navbar */
nav {
    display: flex;
    justify-content: center;
    align-items: center; /* dikey hizalama için align-content yerine */
    gap: 20px; /* linkler arası boşluk */
    padding: 12px 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
/*background: linear-gradient(to right, #398080, #394F6A);*/
  /*  background: linear-gradient(to right, rgba(57, 128, 128, 0.8), rgba(57, 79, 106, 0.8));*/
    background: linear-gradient(to right, rgba(57, 128, 128, 1), rgba(57, 79, 106, 1));


}

nav a {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: italic;
    text-decoration: none; 
    padding:  2px 20px;
    transition: color 0.4s ease;
    border-radius: 5px      ;
}
/*
 #nav a:hover{
	color:wheat ;
    background-color: rgba(248, 255, 255,0.2);
    transition: color 0.2s ease-in-out;
}
#nav_yazilim{
	color:PowderBlue ;  
}

#nav_tasarim{
	color:LightGray ; 
}
*/
#nav a {
  color: LightGray;
  transition: color 0.2s ease-in-out;
  display: inline-block;
}

#nav a:hover {
  color: #B0E3E5;
  background-color: rgba(248, 255, 255, 0.2);
  border-radius: 20px 0 20px 0;
}

#nav a.active {
  color: PowderBlue;
}

 






/* Alt Navbar */
.navsub {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: #f5f5f5; /* açık gri arka plan */
    padding: 10px 0;
    border-top: 1px solid #ccc;
}

.navsub a {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: italic;
    text-decoration: none;
    color: #333;
    transition: color 0.3s ease;
}

.navsub a:hover {
    color: #0077cc; /* hover rengi: mavi */
}

 

.fade-in {
  opacity: 0; 
  animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}



.fade-in2 {
  opacity: 1; 
  animation: fadeIn 1s ease-in forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}