*{ 
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
} 

body{   
        justify-content: center;
        align-items: center;
}

html {
  overflow-y: scroll;
}
 

#mainframe { 
      width: 100%;
      height: 700px;  
  overflow: hidden; /* Hide scrollbars */
  /*overflow: auto;*/
    }
/*
#mainframe::-webkit-scrollbar {
  display: none;
}
*/

#mainframe iframe {
      width: 100%; 
      border: none;
  height: 1000px; /* içeriğin yüksekliği kadar */

  overflow: hidden; /* Hide scrollbars */
  overflow-y: hidden; /* Hide vertical scrollbar */
  overflow-x: hidden; /* Hide horizontal scrollbar */
    }