       *  { 
                margin: 0px;
                padding: 0px;
                box-sizing: border-box;
        }
 
        h1,a{ 
                color:rgb(0, 0, 128);
                font-style: italic;
        }

        h2{
                font-family: Trebuchet MS, sans-serif;
                color:rgb(0, 0, 128);
                font-style: italic;

        }
 
        #profil{
                margin: 30px;
                height: 128px;
                display: flex;  
                justify-content: center;
                align-items: center;
        } 

                #profil_img{
                        height: 128px;
                }

                #profil_info{ 
                        margin-left: 20px;
                }
                         
                        #profil_info_link h1 a{
                                text-decoration: none;
                                list-style-type: none; 
                                font-size: 42px;
                                font-family: Georgia, serif;
                        }
                        #profil_info_link h2{

                                text-align: left;
                        }

 

#contact {
    display: flex; 
    justify-content: center;
    align-items: center;
    width: 100%; 
    margin:30px 0px 30px 0px;
}

#contact_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 20px;
    border: 2px dashed black;
    border-radius: 25px 10px 10px 10px;
}
 
                #contact_title  {
                        display: flex;  
                        align-items: center;
                        justify-content: center;
                }

                #contact_link {
                        display: flex;  
                        margin:20px 0px 20px 0px;

                }
                #contact_link div{
                        display: flex;  
                        align-items: center; 

                }
                #contact_link div a{
                        display: flex;  
                        align-items: center;
                        margin:0px 20px 0px 10px;

                }

        #projeler{
                margin-bottom: 20px;
        }
/*
        #projeler_liste{
                border: 1px dashed black; 
                border-radius: 20px 10px 10px 10px;
                display: inline-block;
        }
*/
        #projeler_liste table{
                margin-top: 20px;
                border-collapse: collapse; /* Kenarları daha düzgün göstermek için */
                text-align: center; /* İçeriği ortala */

        }
 
         tr,td{
                border: 1px dashed black; 
        }
 
                .R{
                text-align:right;
                margin-right: 5px;
                }

                .L{
                text-align:left;
                margin-left: 5px;
                }

                td {
                        text-align: center;
                        padding: 5px 10px 5px 10px;
                }

                th{
                        padding: 20px;
                }

 